
<div class="contianer-fluid title-consulta" ng-controller="datosPersonalesController as vm">
    
    <div class="clearfix"></div>
    <br />
    <div class="container-fluid align">
        <div class="col-md-12">
            <p><strong>Datos Personales</strong></p>
        </div>
       
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="col-md-2">
                Nombre
            </div>
            <div class="col-md-4">
                <input type="text" name="name" ng-model="vm.DatosPersona.Nombre" class="form-control" placeholder="Nombre" />
            </div>
            <div class="col-md-2">
                Apellido
            </div>
            <div class="col-md-4">
                <input type="text" name="name" ng-model="vm.DatosPersona.Apellido" class="form-control" placeholder="Apellido"/>
            </div>
            <div class="col-md-2">
                Dirección
            </div>
            <div class="col-md-10">
                <input type="text" name="name" ng-model="vm.DatosPersona.Direccion" class="form-control" placeholder="Dirección"/>
            </div>
            <div class="col-md-2">
                Ciudad
            </div>
            <div class="col-md-4">
                <input type="text" name="name" ng-model="vm.DatosPersona.Ciudad" class="form-control" placeholder="Ciudad"/>
            </div>
            <div class="col-md-2">
                Código Postal
            </div>
            <div class="col-md-4">
                <input type="text" name="name" ng-model="vm.DatosPersona.CodigoPostal" class="form-control" placeholder="Código Postal" />
            </div>
            <div class="col-md-2">
                Télefono
            </div>
            <div class="col-md-4">
                <input type="tel" name="name" ng-model="vm.DatosPersona.Telefono" class="form-control" placeholder="Telefono" />
            </div>
        </div>
    </div>
    <!-- Modal -->
</div>

