<div class="col-xs-12 home" id="home">
    <div class="text-center title-home">
        <img src="/Content/title_pdc.png" alt="" />
    </div>
    <div class="col-md-2"></div>
    <div class="col-lg-2 col-md-6" ng-repeat="item in vmMain.menuHeader">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="/#{{item.Url}}" ng-click="vmMain.selectMenuItem(item)" class="hovered-home">
                    <div class="up-box">
                        <div class="text-center">
                            <img src="{{item.ImageMenu}}" alt="PDC" />
                            <p>{{item.Description}}</p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="text-center">{{item.DescriptionMenu}}</span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>