@using Logistica.Web.Security
@{
    string modulo = "ACTIVACIONPDC";
    if (SecurityView.TieneAcceso(modulo))
    {
        <div class="contianer-fluid title-consulta" ng-controller="administracionController as vm" ng-init="vm.consultaHabilitacionProd()">
            <div class="container-fluid align">
                <div class="col-xs-12">
                    <div class="row">
                        <p class="title-desactivacion"></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-2 no-left">
                            <label class="fecha-operacion-label">Fecha</label>
                            <h5 style="color:gray">{{vm.fecha|date:"dd-MM-yyyy"}}</h5>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="fecha-operacion-label">Hora</label>
                            <h5 style="color:gray">{{vm.hora|date:"HH:mm:ss"}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <hr />
            </div>
            <div class="container-fluid align">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <p><strong>Segmentos habilitados</strong></p>
                        Segmento
                        <div class="moneda-checks">
                            <div>
                                RTL
                            </div>
                            <div>
                                BP
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2 no-left">
                        <p>&nbsp;</p>
                        Moneda
                        <div class="moneda-checks">
                            <div class="block-checks">
                                <div>
                                    <input id="rtlPesos" type="checkbox" ng-model="vm.RTLPesos" ng-true-value="'A'" ng-false-value="'B'" ng-click="vm.RTLPesosChanged = !vm.RTLPesosChanged" />Pesos
                                </div>
                                <div>
                                    <input id="bpPesos" type="checkbox" ng-model="vm.BPPesos" ng-true-value="'A'" ng-false-value="'B'" ng-click="vm.BPPesosChanged = !vm.BPPesosChanged" />Pesos
                                </div>
                            </div>
                            <div class="block-checks">
                                <div>
                                    <input id="rtlDolares" type="checkbox" ng-model="vm.RTLDolares" ng-true-value="'A'" ng-false-value="'B'" ng-click="vm.RTLDolaresChanged = !vm.RTLDolaresChanged" />Dólares
                                </div>
                                <div>
                                    <input id="bpDolares" type="checkbox" ng-model="vm.BPDolares" ng-true-value="'A'" ng-false-value="'B'" ng-click="vm.BPDolaresChanged = !vm.BPDolaresChanged" />Dólares
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div ng-if="vm.hayCambios()" class="col-md-6">
                        <p><strong>Modificaciones a realizar</strong></p>
                        Acciones a efectuarse en Poder de Compra
                        <div class="moneda-checks">
                            <div ng-if="vm.RTLPesosChanged">
                                Se <span ng-if="vm.RTLPesos == 'A'">activará</span> <span ng-if="vm.RTLPesos == 'B'">desactivará</span> el segmento <strong>Retail en ARS</strong>
                            </div>
                            <div ng-if="vm.RTLDolaresChanged">
                                Se <span ng-if="vm.RTLDolares == 'A'">activará</span> <span ng-if="vm.RTLDolares == 'B'">desactivará</span> el segmento <strong>Retail en USD</strong>
                            </div>
                            <div ng-if="vm.BPPesosChanged">
                                Se <span ng-if="vm.BPPesos == 'A'">activará</span> <span ng-if="vm.BPPesos == 'B'">desactivará</span> el segmento <strong>Banca Privada en ARS</strong>
                            </div>
                            <div ng-if="vm.BPDolaresChanged">
                                Se <span ng-if="vm.BPDolares == 'A'">activará</span> <span ng-if="vm.BPDolares == 'B'">desactivará</span> el segmento <strong>Banca Privada en USD</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="container-fluid align">
                <div class="col-md-12">
                    <p><strong>Motivo de activación/desactivación</strong></p>
                </div>
                <div class="col-md-5 moneda-textarea">
                    <textarea id="motivo" ng-model="vm.Motivo" class="form-control" cols="4" rows="4" ng-disabled="!vm.hayCambios()" placeholder="Debe ingresar el motivo de asignación/desasignación"></textarea>
                    <button class="btn btn-excel pull-right"><i class="fa fa-file-o"></i> Adjuntar archivo</button>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-md-1 no-left">
                        <button class="btn btn-custom" data-toggle="modal" data-target="#confirmar" ng-disabled="!vm.hayCambios() || vm.validateNullOrEmpty(vm.Motivo)">Confirmar</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-cancel" ng-click="vm.consultaHabilitacionProd()">Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade bs-example-modal-sm" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3 class="text-center"><strong>Activacion/Desactivacion PDC</strong></h3>
                            <br />
                            <p ng-if="vm.hayCambios()" class="text-center">¿Está seguro de continuar con la siguientes operaciones?</p>
                            <p ng-if="!vm.hayCambios()" class="text-center">No hay ningún cambio para grabar</p>
                            <ul>
                                <li ng-if="vm.RTLPesosChanged">
                                    Para el segmento Retail se <span ng-if="vm.RTLPesos == 'A'">activo</span> <span ng-if="vm.RTLPesos == 'B'">desactivo</span> la moneda Pesos
                                </li>
                                <li ng-if="vm.RTLDolaresChanged">
                                    Para el segmento Retail se <span ng-if="vm.RTLDolares == 'A'">activo</span> <span ng-if="vm.RTLDolares == 'B'">desactivo</span> la moneda Dolares
                                </li>
                                <li ng-if="vm.BPPesosChanged">
                                    Para el segmento Banca Privada se <span ng-if="vm.BPPesos == 'A'">activo</span> <span ng-if="vm.BPPesos == 'B'">desactivo</span> la moneda Pesos
                                </li>
                                <li ng-if="vm.BPDolaresChanged">
                                    Para el segmento Banca Privada se <span ng-if="vm.BPDolares == 'A'">activo</span> <span ng-if="vm.BPDolares == 'B'">desactivo</span> la moneda Dolares
                                </li>
                            </ul>
                        </div>
                        <div class="footer-desactivar text-center">
                            <button type="button" data-dismiss="modal" ng-click="vm.setHabilitationProd()" class="btn btn-custom" ng-disabled="!vm.hayCambios() || vm.validateNullOrEmpty(vm.Motivo)">Aceptar</button>
                            <button type="button" class="btn btn-cancel" ng-click="vm.consultaHabilitacionProd()" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12 home" id="home">
            <div class="col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <div>
                    <div class="panel-heading">
                        <a href="javascript:history.go(-1)" class="hovered-home">
                            @*<div class="up-box">*@
                            <div class="text-center">
                                <img src="~/Content/icon-accesodenegado.png" alt="PDC" />
                                <p>No tiene</p>
                                @*</div>*@
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
}
