@using Logistica.Web.Security
@{
    string modulo = "BAJACUENTA";
    if (SecurityView.TieneAcceso(modulo))
    {

<div ng-controller="administracionController as vm" class="container-fluid title-consulta">
    <div class="contenedor-formu">
        <form ng-submit="vm.buscarCliente()" class="consulta-suscription">
            <input type="text" class="" ng-model="vm.datoConsulta" input-noborder name="name" value="" placeholder="Ingrese documento, Cuit o NUP" />
            <span class="lupa"><img ng-click="vm.buscarCliente()" src="~/Content/icon-lupa.png" /></span>
            <a class="clear" ng-click="vm.cleanAll()" ng-if="vm.allClientes.length > 0">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </form>
    </div>
    <div class="resultados-suscripcion">
        <div class="container-consulta">
            <table>
                <tr ng-repeat="item in vm.allClientes">
                    <td>
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" target="_self" ng-click="vm.submitRequest(item)">
                            <strong><span class="name-consulta">{{item.Apellido}}, {{item.Nombre}}</span> | <span class="dni-consulta">{{item.TipoDocumento}}: {{item.NumeroDocumento}}</span> | <span class="nup-consulta">NUP :{{item.Nup}}</span></strong>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="tab-content" ng-if="vm.cliente != null">
            <hr class="full-hr" />
            <div role="tabpanel" class="tab-pane" id="home">
                <h2><strong>Baja manual de PDC</strong></h2>
                <p class="sub">Seleccione la cuenta que desea dar de baja</p>
                <br />
                <br />
                <h2><strong>Cuentas suscriptas a Poder de Compra</strong></h2>

                <div class="clearfix"></div>
                <br />
                <hr class="full-hr" />
                <table class="table table-repsonsive table-saldo table-striped">
                    <thead>
                        <tr>
                            <th>Moneda</th>
                            <th>Cuenta PDC</th>
                            <th>Cuenta título</th>
                            <th>Tipo de cta. operativa</th>
                            <th>Suc-Nro. de cta.operativa</th>
                            <th>Saldo PDC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr href="#consulta" aria-controls="consulta" role="tab" data-toggle="tab" target="_self" ng-repeat="item in vm.cuentasSuscriptas" ng-click="vm.setCuentaMov(item)" tabindex="0" ng-class="{'ng-scope':  (item.CuentaPdc == vm.idCuentaPdc)}">
                            <td class="ng-binding">{{item.CodigoMoneda}}</td>
                            <td class="ng-binding">{{item.CuentaPdc}}</td>
                            <td class="ng-binding">{{item.CuentaTitulos}}</td>
                            <td class="ng-binding">{{item.TipoCtaDescrip}}</td>
                            <td class="ng-binding">{{item.SucursalCtaOperativa}}-{{item.NroCtaOperativa}}</td>
                            <td class="ng-binding">{{item.SaldoPdc | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-5 moneda-textarea">
                    <h4><strong>Motivo de baja</strong></h4>
                    <br />
                    <textarea ng-model="vm.Motivo" class="form-control" cols="4" rows="8"></textarea>
                    <button class="btn btn-excel pull-right"><i class="fa fa-file-o" ng-show="false"></i> Adjuntar archivo</button>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="col-md-1 no-left">
                        <button class="btn btn-custom" data-toggle="modal" data-target="#ctatitulo" ng-disabled="vm.idCuentaPdc==undefined || vm.idCuentaPdc== null">Enviar</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-cancel" ng-click="vm.consultaHabilitacionProd()">Cancelar</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <br />
            </div>
        </div>
            <div class="modal fade" id="ctatitulo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content modal-adhesion">
                        <div class="modal-header modal-custom-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center" id="myModalLabel"><strong>Baja manual</strong></h4>
                            <p>La cuenta seleccionada posee un saldo PDC a liquidar de</p>
                            <br />
                            <p><strong>{{vm.selectedItem.SaldoPdc | currency}}</strong></p><br />
                            <br />
                            <p>¿Desea continuar?</p>
                        </div>
                        <div class="text-center">
                            <br />
                            <button class="btn btn-custom"  data-dismiss="modal" data-toggle="modal" data-target="#final">Si, gestionar baja</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancelar</button>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="final" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content modal-adhesion">
                        <div class="modal-header modal-custom-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title text-center" id="myModalLabel2"><strong>Baja manual</strong></h4>
                            <p>Se efectuará la baja de PDC de: </p>
                            <br />
                            <p><strong>Moneda: {{vm.selectedItem.CodigoMoneda}} | Cuenta PDC: {{vm.selectedItem.CuentaPdc}} | Cta. Tit: {{vm.selectedItem.CuentaTitulos}} | Cta. Op: {{vm.selectedItem.NroCtaOperativa}}</strong></p>
                            <br />
                            <br />
                            <p>¿Desea continuar?</p>
                        </div>
                        <div class="text-center">
                            <br />
                            <button class="btn btn-custom" data-dismiss="modal" ng-click="vm.setBajaManual();">Si, gestionar baja</button>
                            <button class="btn btn-cancel" data-dismiss="modal">Cancelar</button>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

}
    else
    {
<div class="col-xs-12 home" id="home">
    <div class="col-md-4"></div>
    <div class="col-lg-4 col-md-4">
        <div>
            <div class="panel-heading">
                <a href="javascript:history.go(-1)" class="hovered-home">
                    @*<div class="up-box">
                        *@
                        <div class="text-center">
                            <img src="~/Content/icon-accesodenegado.png" alt="PDC" />
                            <p>No tiene</p>
                            @*
                        </div>*@
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
    }
}