@using Logistica.Web.Security
@{
    string modulo = "AUTORIZACION";
    if (SecurityView.TieneAcceso(modulo))
    {
        <div>Autorizaciones</div>
    }
    else
    {
        <div class="col-xs-12 home" id="home">
            <div class="col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <div>
                    <div class="panel-heading">
                        <a href="javascript:history.go(-1)" class="hovered-home">
                            @*<div class="up-box">*@
                            <div class="text-center">
                                <img src="~/Content/icon-accesodenegado.png" alt="PDC" />
                                <p>No tiene</p>
                                @*</div>*@
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
}
