@using Logistica.Web.Security
@{
    string modulo = "AJUSTE";
    if (SecurityView.TieneAcceso(modulo))
    {
        <div ng-controller="administracionAjustesManualesController as vm" class="container-fluid title-consulta">
            <div class="contenedor-formu">
                <form ng-submit="vm.buscarCliente()" class="consulta-suscription">
                    <input type="text" class="" ng-model="vm.datoConsulta" input-noborder name="name" value="" placeholder="Ingrese documento, Cuit o NUP" />
                    <span class="lupa"><img ng-click="vm.buscarCliente()" src="~/Content/icon-lupa.png" /></span>
                    <a class="clear" ng-click="vm.cleanAll()" ng-if="vm.allClientes.length > 0">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </form>
            </div>
            <div class="resultados-suscripcion">
                <div class="container-consulta">
                    <table>
                        <tr ng-repeat="item in vm.allClientes">
                            <td>
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab" target="_self" ng-click="vm.submitRequest(item)">
                                    <strong><span class="name-consulta">{{item.Apellido}}, {{item.Nombre}}</span> | <span class="dni-consulta">{{item.TipoDocumento}}: {{item.NumeroDocumento}}</span> | <span class="nup-consulta">NUP :{{item.Nup}}</span></strong>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="tab-content" ng-if="vm.cliente != null">
                    <hr class="full-hr" />
                    <div role="tabpanel" class="tab-pane" id="home">
                        <h2><strong>Ajuste manual de saldo</strong></h2>
                        <p class="sub">Cuentas suscriptas a Poder de Compra</p>
                        <br />
                        <br />
                        <h2><strong>Cuentas suscriptas a Poder de Compra</strong></h2>

                        <div class="clearfix"></div>
                        <br />
                        <hr class="full-hr" />
                        <table class="table table-repsonsive table-saldo table-striped">
                            <thead>
                                <tr>
                                    <th>Moneda</th>
                                    <th>Cuenta PDC</th>
                                    <th>Cuenta título</th>
                                    <th>Tipo de cta. operativa</th>
                                    <th>Suc-Nro. de cta.operativa</th>
                                    <th>Saldo PDC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ngRepeat: item in vm.cuentasSuscriptas -->
                                <tr href="#consulta" aria-controls="consulta" role="tab" data-toggle="tab" target="_self" ng-repeat="item in vm.cuentasSuscriptas" ng-click="vm.setCuentaMov(item)" class="ng-scope" tabindex="0">
                                    <td>{{item.CodigoMoneda}}</td>
                                    <td>{{item.CuentaPdc}}</td>
                                    <td>{{item.CuentaTitulos}}</td>
                                    <td>{{item.TipoCtaDescrip}}</td>
                                    <td>{{item.SucursalCtaOperativa}}-{{item.NroCtaOperativa}}</td>
                                    <td>{{item.SaldoPdc | currency}}</td>
                                </tr><!-- end ngRepeat: item in vm.cuentasSuscriptas -->
                            </tbody>
                        </table>
                        <hr class="full-hr" />
                        <h2><strong>Información para efectuar ajuste</strong></h2>
                        <p class="sub">Cuentas suscriptas a Poder de Compra</p>
                        <br />
                        <div class="col-md-12">
                            <div class="form-group col-md-2 no-left">
                                <label class="fecha-operacion-label">Fecha de concertación</label>
                                <md-datepicker ng-model="vm.fechaConcertacion"
                                               flex="100"
                                               md-placeholder="DD/MM/YYYY"
                                               is-open="dateFromOpened"
                                               ng-required="true"
                                               md-min-date="vm.minDate">
                                               >
                                </md-datepicker>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="fecha-operacion-label">Fecha de liquidación</label>
                                <md-datepicker ng-model="vm.fechaLiquidacion"
                                               flex="100"
                                               md-placeholder="DD/MM/YYYY"
                                               is-open="dateFromOpened"
                                               ng-required="true"
                                               md-min-date="vm.fechaConcertacion">
                                </md-datepicker>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-2">
                            <label class="fecha-operacion-label">Código operativo</label>
                            <input type="number" name="name" ng-model="vm.codigoOperativo"  ng-change="vm.getTipoOperacion()" class="inputs-styles" />
                        </div>
                        <div class="col-md-2">
                            <label class="fecha-operacion-label">Tipo de operación</label>
                            <select class="form-control" ng-model="vm.tipoOperacion"
                                    ng-options="item.Evento as item.Evento for item in vm.tipoOperacionModel"
                                    ng-change="vm.setAfectacion()"
                                    required></select>
                        </div>
                        <div class="col-md-2">
                            <label class="fecha-operacion-label">Afectación</label>
                            <input type="text" name="name" ng-model="vm.afectacion" disabled class="inputs-styles" />
                        </div>
                        <div class="col-md-2">
                            <label class="fecha-operacion-label">Monto a ajustar</label>
                            <input type="text" name="name" ng-model="vm.monto" class="inputs-styles" />
                        </div>


                        <div class="clearfix"></div>
                        <br />
                        <hr class="full-hr" />
                        <div class="col-md-5 moneda-textarea">
                            <h4><strong>Motivo de ajuste</strong></h4>
                            <br />
                            <textarea ng-model="vm.motivo" class="form-control" cols="4" rows="8"></textarea>
                            <button class="btn btn-excel pull-right"><i class="fa fa-file-o"></i> Adjuntar archivo</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="col-md-1 no-left">
                                <button class="btn btn-custom" data-toggle="modal" ng-disabled="vm.deshabilitarBtnAjuste()" data-target="#ctatitulo">Enviar</button>

                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-cancel" ng-click="vm.cleanData()">Cancelar</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="modal fade" id="ctatitulo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content modal-adhesion">
                            <div class="modal-header modal-custom-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center" id="myModalLabel"><strong>Ajuste manual</strong></h4>
                                <p>La cuenta seleccionada posee un saldo PDC a liquidar de</p>
                                <br />
                                <p><strong>{{vm.selectedItem.SaldoPdc | currency}}</strong></p>
                                <br />
                                <br />
                                <p>¿Desea continuar?</p>
                            </div>
                            <div class="text-center">
                                <br />
                                <button class="btn btn-custom" ng-click="vm.realizarAjusteManual()" data-dismiss="modal" data-toggle="modal" data-target="#resultado">Si, realizar ajuste</button>
                                <button class="btn btn-cancel" data-dismiss="modal">Cancelar</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="resultado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content modal-adhesion">
                            <div class="modal-header modal-custom-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center" id="myModalLabel"><strong>Ajuste manual</strong></h4>
                                <p>{{vm.resultado}}</p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-custom" ng-click="vm.cleanData()" data-dismiss="modal" >Ok</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12 home" id="home">
            <div class="col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <div>
                    <div class="panel-heading">
                        <a href="javascript:history.go(-1)" class="hovered-home">
                            @*<div class="up-box">*@
                            <div class="text-center">
                                <img src="~/Content/icon-accesodenegado.png" alt="PDC" />
                                <p>No tiene</p>
                                @*</div>*@
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    }
}
